- var title= 'Мой Личный сайт'
doctype html
html
    include common/_head
    body.i-overflow_hidden
        .loader
            svg.loader__svg(version='1.1',
            xmlns='http://www.w3.org/2000/svg',
            xmlns:xlink='http://www.w3.org/1999/xlink',
            x='0px',
            y='0px',
            width='120px',
            height='95.113px',
            viewbox='0 0 80 95.113',
            enable-background='new 0 0 80 95.113',
            xml:space='preserve')
                g
                  path.loader__path.loader__path_1(fill='none', stroke='#231F20', stroke-width='3.9003', stroke-miterlimit='10', d='M0,38.005c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,38.005,80,38.005')
                g
                  path.loader__path.loader__path_2(fill='none', stroke='#231F20', stroke-width='3.9003', stroke-miterlimit='10', d='M0,61.684c6.663,0,6.663,7.801,13.327,7.801c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801c6.67,0,6.67,7.801,13.339,7.801S73.33,61.684,80,61.684')
                g
                  path.loader__path.loader__path_3(fill='none', stroke='#231F20', stroke-width='3.9003', stroke-miterlimit='10', d='M0,85.362c6.663,0,6.663,7.801,13.327,7.801\
                c6.665,0,6.665-7.801,13.33-7.801c6.667,0,6.667,7.801,13.334,7.801c6.666,0,6.666-7.801,13.331-7.801\
                c6.67,0,6.67,7.801,13.339,7.801S73.33,85.362,80,85.362')
                text.loader__text(transform='matrix(1 0 0 1 40 20)', font-family="'ArialMT'", font-size='24', text-anchor='middle') Загрузка...

      .b-content-head.b-content-head_bgmain
        <!--[if lt IE 7]>
        <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
        <![endif]-->

        header.b-header.b-header_text-right.b-header_xs_text-center
        main.b-main
            .center_flex
                .b-portfolio.b-portfolio_tema_forest
                    .b-portfolio__name.i-upper.i-under Авторизуйтесь
                    form#loginform.b-form-a
                        .b-formgrup
                            .b-formgrup__arial
                                i.fa.fa-user.b-form-a__fa(aria-hidden="true")
                            input.b-form-a__input(type="text" placeholder="Логин")
                        .b-formgrup
                            .b-formgrup__arial
                                i.fa.fa-key.b-form-a__fa(aria-hidden="true")
                            input.b-form-a__input(type="password" placeholder="Пароль")
                        .b-formgrup
                            input#checkbox.b-portfolio__checkbox(type="checkbox")
                            label(for="checkbox") Я человеки
                        span.b-formgrup__text
                            |Вы точно не робот?
                        .b-formgrup__radio-grup
                            input#radio.b-portfolio__radio(type="radio" name="robots")
                            label(for="radio") Да

                            input#radio2.b-portfolio__radio(type="radio" name="robots")
                            label(for="radio2") Не уверен
                    .b-menu
                        a.b-menu__link(href="/") На главную
                        a.b-menu__link(href="#") Войти

        footer.b-footer
            .b-footer__small
                span.b-footer_line © Евдокимов Сергей
                span Создано с любовью в LoftSchool | 2016
        include common/_scripts